<!-- adminDashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">,
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div id="header"></div>
        <main class="main-content">
            <div class="toolbar">
                <input
                        type="text"
                        id="searchBar"
                        class="input-field"
                        placeholder="Search by doctor name" />
                <select id="sortSelect" class="select-dropdown">
                    <option value="nameAsc">Name (A-Z)</option>
                    <option value="nameDesc">Name (Z-A)</option>
                    <option value="newest">Newest</option>
                    <option value="oldest">Oldest</option>
                </select>

                <select id="specialtySelect" class="select-dropdown">
                    <option value="">All specialties</option>
                    <option value="Cardiologist">Cardiologist</option>
                    <option value="Dentist">Dentist</option>
                    <option value="Dermatologist">Dermatologist</option>
                </select>
                <button id="addDoctorBtn" class="dashboard-btn">Add Doctor</button>
            </div>
            <div id="content"></div>
        </main>
        <div id="footer"></div>
    </div>
</div>

<div id="modal" class="modal" aria-hidden="true">
    <span id="closeModal" class="close" aria-label="Close">&times;</span>
    <div id="modal-body"></div>
</div>

<script type="module" th:src="@{/js/adminDashboard.js}"></script>
<script type="module" th:src="@{/js/components/doctorCard.js}"></script>
</body>
</html>