<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Doctor Dashboard</title>

    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />

    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />

    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <script th:src="@{/js/components/patientRows.js}" defer></script>
    <script th:src="@{/js/services/patientServices.js}" defer></script>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div id="header"></div>

        <div class="main-content">
            <input type="text" id="searchBar" class="searchBar" placeholder="Search Bar for custom output" />

            <div class="filters">
                <button id="todayButton" class="adminBtn">Today's Appointments</button>
                <input type="date" id="datePicker" class="input-field" />
            </div>

            <table id="patientTable" class="table">
                <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Name</th>
                    <th>Phone No.</th>
                    <th>Email</th>
                    <th>Prescription</th>
                </tr>
                </thead>
                <tbody id="patientTableBody"></tbody>
            </table>
        </div>

        <div id="footer"></div>
    </div>
</div>

<script type="module" th:src="@{/js/doctorDashboard.js}"></script>
</body>
</html>
