
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h2 {
    font-size: 48px;
    color: #003e3e;
    font-family: 'Alegreya', 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
}
.main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../images/defineRole/index.png') center center / cover no-repeat fixed;
}
button {
    background-color: #015c5d;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    width: 200px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #A62B1F;
}
.dashboard-btn {
    background-color: #015c5d;
}

.dashboard-btn:hover {
    background-color: #003e3e;
}
